@charset "UTF-8";
/*------------------------------------------------------------------------
// Base
  ├ reset
  ├ base
  └ form
------------------------------------------------------------------------*/
/*----------------------------------------
	reset
----------------------------------------*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
main,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

header,
footer,
article,
section,
aside,
main,
nav,
menu,
figure,
figcaption {
  display: block;
}

span,
small,
strong,
em,
b,
i {
  color: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

ul,
ol {
  list-style: none;
}

img {
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

input,
select {
  vertical-align: middle;
}

input,
textarea {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

q::before,
q::after {
  display: none;
}

/*----------------------------------------
	base
----------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  color: #341e12;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

a {
  color: #341e12;
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  color: #a88e25;
}

img {
  width: 100%;
  height: auto;
}
img.self-size {
  max-width: 100%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
}

/*----------------------------------------
	Form Parts
----------------------------------------*/
/*各フォーム部品の基本スタイルを上書きします*/
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*ブラウザ標準スタイルを無効にする*/
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 4px;
  font-family: inherit;
}

input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 4px;
}

/*フォーカス時*/
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus,
input[type="number"],
input[type="password"] {
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(168, 142, 37, 0.7);
  box-shadow: 0 0 5px rgba(168, 142, 37, 0.7);
}

/*エラー時*/
.is-error input[type="text"],
.is-error input[type="email"],
.is-error input[type="tel"],
.is-error input[type="url"],
.is-error input[type="number"],
.is-error input[type="password"],
.is-error textarea,
.is-error select,
.is-error .select-wrap {
  color: #f7320e;
  border-color: #f7320e;
}

/*select
--------------------------*/
.select-wrap {
  position: relative;
}

.select-wrap::after {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

select::-ms-expand {
  /*IEでもselectの矢印を消す*/
  　display: none;
}

/*radio, checkbox
------------------------------------*/
input[type="radio"],
input[type="checkbox"] {
  opacity: 0;
  /*透明にして見えなくする*/
  position: absolute;
  /*本来の配置から切り離す*/
}

/*クリック範囲*/
input[type="radio"] + span,
input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
  margin: 0 2em 0 0;
  padding: 0.3em 0.3em 0.3em 2em;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}

/*フォーカス時*/
input[type="radio"]:focus + span,
input[type="checkbox"]:focus + span {
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(168, 142, 37, 0.7);
  box-shadow: 0 0 5px rgba(168, 142, 37, 0.7);
}

/*ラジオボタンスタイル*/
input[type="radio"] + span:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1.375em;
  height: 1.375em;
  border: 1px solid #341e12;
  border-radius: 50%;
  line-height: 1;
  background: #fff;
}

/*ラジオボタンチェック印（未選択）*/
input[type="radio"] + span:after {
  content: "";
  display: none;
}

/*ラジオボタンチェック印（選択）*/
input[type="radio"]:checked + span:after {
  display: block;
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background: #341e12;
  line-height: 1;
}

/*チェックボックススタイル*/
input[type="checkbox"] + span:before {
  position: absolute;
  top: 0.3em;
  left: 0;
  content: "";
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #341e12;
  background: #fff;
  line-height: 1;
  vertical-align: middle;
}

/*チェックボックス未チェック時*/
input[type="checkbox"] + span:after {
  content: "";
  display: none;
}

/*チェックボックスチェック時*/
input[type="checkbox"]:checked + span:after {
  display: block;
  position: absolute;
  top: 0.3em;
  left: 0.4em;
  width: 0.5em;
  height: 1em;
  content: "";
  border-bottom: 3px solid #341e12;
  border-right: 3px solid #341e12;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*------------------------------------------------------------------------
// Layout
  ├ header
  ├ top-header
  ├ gnav
  ├ hamburger
  ├ menu
  ├ spmenu
  ├ footer
  ├ breadcrumb
  ├ page-title
  ├ page-lead
  ├ pagetop  
  ├ container
  ├ section
  ├ main-contents
  ├ grid
  └ contents
------------------------------------------------------------------------*/
/* header
------------------------------------------------------ */
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 110px;
  background: url(../img/bg_top_header.jpg) center center/cover;
}
.header::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.header__logo {
  position: relative;
  z-index: 1;
  width: 200px;
  height: 70px;
}

@media screen and (min-width: 768px), print {
  .header {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 200px;
    background: url(../img/bg_top_header.jpg) center center/auto 100% repeat-x;
  }

  .header__logo {
    width: 400px;
    height: 140px;
    margin-left: 30px;
  }
}
/* top-header
------------------------------------------------------ */
/*IE11無視のプロジェクトなのでmin関数でレスポンシブ時のサイズバランスを調整しています*/
.top-header {
  border-bottom: min((30 / 375) * 100vw, 30px) solid #f5efd7;
}
.top-header::after {
  content: "";
  display: block;
  height: min((200 / 375) * 100vw, 200px);
  background: url(../img/bg_top_header_sp.jpg) center center/cover;
}

.top-header__logo {
  max-width: 424px;
  margin: auto;
}

.top-header__inner {
  max-width: 1084px;
  margin: auto;
  padding: 10px 20px 30px;
}

.top-header__txt {
  padding: 30px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-size: min((16 / 375) * 100vw, 20px);
  line-height: 1.8;
}

@media screen and (min-width: 768px), print {
  .top-header {
    border-bottom: 0;
  }
  .top-header::after {
    background: url(../img/bg_top_header.jpg) center center/auto 200px repeat-x;
  }

  .top-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
  }

  .top-header__logo {
    width: calc((424 / 1084) * 100%);
  }

  .top-header__txt {
    width: calc((624 / 1084) * 100%);
    margin: 30px 0;
    padding: 30px 55px;
    font-size: min((20 / 1084) * 100vw, 20px);
  }
}
/* gnav
------------------------------------------------------ */
.gnav {
  display: none;
}

@media screen and (min-width: 768px), print {
  /*1行に収まるように文字サイズをvw指定（最大20px）にしています。文字サイズがリアルタイムで変動するので、グロナビのその他のサイズ指定は文字連動のem単位で指定しています。*/
  .gnav {
    display: block;
    padding: 1em;
    background: #f5efd7;
    font-size: min((20 / 1084) * 100vw, 20px);
  }

  .gnav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .gnav__item {
    margin: 0 1.25em;
  }

  .gnav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
  }
  .gnav__link::before {
    content: "";
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.3em;
    background: url(../img/ico_paw.svg) center center/contain no-repeat;
    vertical-align: middle;
  }
  .gnav__link:hover,
  .gnav__link:active,
  .gnav__link[aria-current] {
    color: #a88e25;
    font-weight: bold;
  }
  .gnav__link:hover::before,
  .gnav__link:active::before,
  .gnav__link[aria-current]::before {
    background-image: url(../img/ico_paw_o.svg);
  }
}
/* hamburger
------------------------------------------------------ */
.hamburger {
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px;
  height: 70px;
  padding-top: 15px;
  border: 0;
  border-radius: 50%;
  background: #341e12;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.hamburger:hover,
.hamburger:focus-visible {
  background: #ceb967;
}

.hamburger__line {
  position: relative;
  width: 30px;
  height: 2px;
  background: #fff;
}

.hamburger__line::before,
.hamburger__line::after {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.hamburger__line::before {
  top: -9px;
}

.hamburger__line::after {
  bottom: -9px;
}

.hamburger__txt {
  margin-top: 12px;
  font-size: 12px;
  text-transform: uppercase;
}

/*閉じる*/
/*aria-expandedの状態でスタイルを適用*/
.hamburger[aria-expanded="true"] .hamburger__line {
  background: transparent;
}

.hamburger[aria-expanded="true"] .hamburger__line::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger[aria-expanded="true"] .hamburger__line::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media screen and (min-width: 768px), print {
  .hamburger {
    display: none;
  }
}
